<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened class="mat-sidenav"> 
        <mat-nav-list *ngIf="usuarioService.isAuthenticatedEmitter | async"  class="mat-nav-list">
            <a routerLink="" mat-list-item class="mat-list">
                <i class="material-icons">home</i>
                Home 
            </a>
            <a routerLink="/categorias" mat-list-item class="mat-list">
                <i class="material-icons">menu_book</i>
                Categorias 
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>