<form>
    <h1>NOVA CATEGORIA</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="categoria.name" type="text" name="nome" placeholder="Ex: Pães">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <input matInput [(ngModel)]="categoria.descricao" type="text" name="descricao" placeholder="Ex: Pão francês, integral, forma... ">
    </mat-form-field>
    
    <div class="buttons">
        <button (click)="create()" class="mat-elevation-z8" mat-stroked-button color="primary" style="color: green;">CRIAR</button>
        <button class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR</button>
    </div>
    
</form>